*{
    box-sizing: border-box;
    padding: 0;
    margin:0;
    

}
.container
{
  border: 7px solid rgb(9, 9, 122);
  height:90vh;
  width: 70vh;
  display: flex;
  flex-direction: column;
  background: rgb(13, 13, 85);

  
}
.c1{

    flex: 2;
    border: solid hidden;
    display: flex;
    flex-direction: column;

}
.c10{
    flex: 1;
    background-color: white;
    align-self: flex-end;

}
.c11{
    flex: 3;
    border: solid;
    padding: 30px;
    font-size: larger;
    overflow: hidden;
}
.c2{
    display: block;
 flex: 8;
 border: solid hidden;
 /* flex-direction: column;
  */

}
.one{
 font-size: 25px;
 display: flex;
 justify-content: space-between;
 /* margin: 5px; */
 


 
 

}
.b1{
    width: 30px;
    height: 20px;

}
.b10{ margin-top: 8px;
/* float: right; */

}
.c3{
    border: solid;
    flex: 2;
    background-color: yellow;
    font-size: 30px;
    font-weight: 80px;
}